<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentGrade</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
    <body>
        <div class="container">
            <header th:insert="fragments/navBar.html :: navbar"> </header>

            <h2>Grades for students are as follows:</h2>
            <div class="row">
                <div class="col-sm-2">
                    <strong>Student</strong>
                </div>
                <div class="col-sm-2">
                    <strong>Subject</strong>
                </div>
                <div class="col-sm-2">
                    <strong>Score</strong>
                </div>
                <div class="col-sm-2" style="display:none">
                    <strong>ID</strong>
                </div>
                <div class="col-sm-2">
                    <strong>Action</strong>
                </div>
            </div>
            <div th:if="${studentGrades.size == 0}" >No student data received</div>
            <div class="row" th:if="${studentGrades.size != 0}" th:each="student : ${studentGrades}" style="margin:1px">
                <div class="col-sm-2" th:text="${student.name}"/>
                <div class="col-sm-2" th:text="${student.subject}"/>
                <div class="col-sm-2" th:text="${student.score}"/>
                <div class="col-sm-2" th:text="${student.id}" style="display:none"/>
                <div class="col-sm-2">
                    <a th:href="@{/(targetId=${student.id})}" class="btn btn-primary" >Update</a>
                </div>
            </div>
        </div>
    </body>
</html>